@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
/*General styling:*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
    background: black;
    /*background: linear-gradient(to right, #111111, #232526);*/
    color: ghostwhite;
    font-family: "Source Code Pro", sans-serif;
}

/*logo image alignment*/

.image img{
    /*height: 500px;*/
    /*width: 500px;*/
    display: block;
    margin: auto;
}

h2{
    font-family: 'Press Start 2P', serif;
    font-size: 25px;
}

/*Styling for statement cards:*/
.statement-container{
    background: #000000;  /* fallback for old browsers */
    background: linear-gradient(to bottom, rgba(67, 67, 67, 0.78), #000000);
    border-radius: 0.8em;
    padding: 10px;
    margin:10px;
    text-align: center;
}



/*Styling for developer cards:*/

.developer .container{
    margin:20px;
    padding:20px;
}

.developer-cards{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin:10px;
    /*width: 100vw;*/
    /*min-height: 100vh;*/
}

.dev-card{
    margin: 3em 2em 2em 2em;
    width: 18rem;
    background: rgba(171, 171, 171, 0.1);
    padding: 2em;
    text-align: center;
    border-radius: 0.8em;
    box-shadow: 0 0 0.5em rgba(171, 171, 171, 1.5);
    position: relative;
    /*backdrop-filter: blur(4px);*/
    border: 1px #ED90CC solid;
}

.dev-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
        0deg,
        #00CACE,
        #ED90CC
    );
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: inherit;
}

.profile-img{
    width: 6em;
    height: 6em;
    margin: -4em auto 0 auto;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        #00CACE,
        #ED90CC
    );
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.5em #26293e;
}

.profile-img img{
    width: 90%;
    height: 90%;
    border-radius: inherit;
}

.dev-card h2{
    margin: 1em 0 0 0;
}

.dev-card h3{
    color: #fff;
    margin: 2em 0 0.5em 0;
    font-weight: 400;
}

.dev-card p{
    color: #81848f;
    font-size: 0.9em;
    line-height: 27px;
    max-width: 20em;
    margin: 02em auto 2em auto;
}

.dev-card small{
    color: #646771;
}

.dev-card p,
.dev-card small{
    transition: 0.2s;
}

.dev-card button{
    background: rgba(171, 171, 171, 0.2);
    border: none;
    border-radius: 3em;
    padding: 0.8em 2em;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.1s;
}

.dev-card:hover button{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    color: #111;
}

.dev-card:hover p,
.dev-card:hover small{
    color: #fff;
}

.dev-card:hover:before{
    animation: fill .8s ease-in-out forwards;
}

.dev-card:nth-child(2) .profile-img,
.dev-card:nth-child(2)::before{
    background: linear-gradient(
    0deg,
    #ab2fbf,
    #f9e44f
    );
}

.dev-card:nth-child(3) .profile-img,
.dev-card:nth-child(3)::before{
    background: linear-gradient(
            0deg,
            #ab2fbf,
            #f9e44f
    );
}

@keyframes fill {
    40% {
        width: 100%;
        height: 0.5em;
    }
    50% {
        width: 100%;
        height: 0.5em;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

/*Styling for login/register page buttons:*/
.buttons button{
    position: relative;
    height: 60px;
    width: 200px;
    margin: 20px 20px;
    border-radius: 3em;
    outline: none;
    background: rgba(171, 171, 171, 0.2);
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px #ED90CC solid;
}

.buttons button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}

.buttons button:last-child:hover{
    background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
    background-size: 400%;
}

.buttons button:first-child:before,
.buttons button:last-child:before{
    content: '';
    position: absolute;
    background: inherit;
    top:-5px;
    bottom:-5px;
    left:-5px;
    border-radius: 0.8em;
    /*filter: blur(50px);*/
    opacity: 0;
    transition: opacity 0.5s;
}

.buttons button:first-child:hover:before,
.buttons button:last-child:hover:before{
    opacity: 1;
    z-index: -1;
}

.buttons button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 400%;
    }
}

/*Customization for scrollbar cause why not:*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #292E49;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: .6em;
    background: linear-gradient(to left, #B6FFE4, #B6FFCD);
}



::-webkit-scrollbar-thumb:hover {
    border-radius: .6em;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}


.glitchy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: black;
    color: #fff;
    font-size: 28px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -2px;
}

.glitchy{
    animation: glitch 1.2s linear infinite;
}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

.glitchy:before,
.glitchy:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

.glitchy:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg);
    }
}

.glitchy:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg);
    }
}