/*Main container styling:*/
.home{
    display: grid;
    background: rgba(171, 171, 171, 0.1);
    border-radius: 0.2rem;
}

.home h3{
    margin: 1rem;
}

/*.text-center{*/
/*    text-align: center;*/
/*}*/

.home-card{
    margin: 2rem;
    list-style-type: none;
    padding: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem rgba(124, 179, 197, 0.6);
    border: 1px black solid;
    background: rgba(171, 171, 171, 0.1);
}

.home-card button{
    height: 20px;
    width: 90px;
    margin:0;
    padding:0;
    letter-spacing: 0;
}

/*//highlight clip styling*/
.highlights{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem rgba(124, 179, 197, 0.6);
    border: 1px black solid;
    background: linear-gradient(to top, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*styling for add comment box:*/

.add-post{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.6rem rgba(124, 179, 197, 0.6);
    border: 1px black solid;
}


.form-control{
    /*margin: 0.5rem;*/
    padding: 0;
    border-radius: 0.8rem;
    /*box-shadow: 0 0 0.6rem rgba(124, 179, 197, 0.6);*/
    border: 1px black solid;
}

/*validation is overriding the styling:*/
.is-invalid{
    margin: 0;
    padding: 0;
}

.is-valid{
    margin: 0;
    padding: 0;
}

.devFavoritesPoster{
    height: 5rem;
    background-size: cover;
}

.devFavoritesDiv{
    height: fit-content;
    box-shadow: 1px 1px 10px 0 #CAF7FF;
    margin-right: 1rem;
}
.gameCardsDiv{
    margin-bottom: 1rem;
}
#comment-box {
    width: 75%;
    height: 50px;

}

.my-button {
    margin: 0.4rem;
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: #C4FCF0;
    border: 1px #C4FCF0 solid;
    border-radius: 2.9rem;
    text-align: center;
    font-size: 0.8rem;
}
.post-btn{
    margin: 0.4rem;
    display: inline-block;
    padding: 0.8rem 1.2rem;
    font-weight: 700;
    background-color: black;
    color: #C4FCF0;
    border: 1px #C4FCF0 solid;
    border-radius: 2.9rem;
    text-align: center;
    font-size: 1rem;

}

#comment-comment {
    margin: 0.5rem 0 0 0;
}

#comment-list {
    margin: 0.5rem 0;
}

#comment-list li {
    border-bottom: 1px solid #8d8d8d1a;
    font-size: 18px;
    color: rgb(61, 61, 61);
    padding: 0.5rem 0;
}

#comment-list li span {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}
