body{
    background: black;
    margin:0;
    padding:0;
}

.jalopy-nav {
    margin-right: 1em;
}
/*Already a body element in about css*/
/*body{*/
/*    background-color: ghostwhite;*/
/*}*/

.jalopy-container {
    position: relative;
    min-height: 100vh;
}
/*Bootstrap Grid*/
/*cell color*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/

/*div.tall-row {*/
/*    height: 300px;*/
/*}*/