/*General styling:*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
    background: black;
    color: ghostwhite;
    font-family: "Source Code Pro", sans-serif;
}

nav{
    margin-bottom: 15px;
}

h1{
    margin: 25px;
}

.nav-text{
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar a{
    margin: 5px;
}

small{
    margin: 10px;
}