/*.post-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.post-card {
    padding: 1rem 1.5rem;
    border: 2px solid var(--stroke-color);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 20px 0px #07617c4b;
    background-color: white;
    min-height: 52px;
    margin-bottom: 1rem;
}

/*.post-header {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-bottom: 1.5rem;*/
/*}*/

/*.profile-picture {*/
/*    height: 4rem;*/
/*    width: 4rem;*/
/*    border-radius: 50%;*/
/*    margin-right: 0.6rem;*/
/*    border: 2px solid;*/
/*    flex: 1;*/
/*}*/

/*h2 {*/
/*    font-weight: 800;*/
/*    font-size: 1.3rem;*/
/*    color: rgba(0, 0, 0, 0.863);*/
/*}*/

/*.post-user {*/
/*    flex: 3;*/
/*    margin-bottom: 1rem;*/
/*}*/

/*.profile-container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.cover-photo {
    background-size:cover;
    /*z-index: 99;*/
}

/*.post-content {*/
/*    font-weight: 600;*/
/*    line-height: 2;*/
/*    margin-bottom: 0.5rem;*/
/*}*/

/*.post-time {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/* Main content elements' styles */

/* Left column*/
.profile-header {
    margin-top: 35px;
    padding-right: 15px;
    padding-left: 15px;
}

.profile-element {
    color: #657786;
    display: block;
    font-size: 14px;
    margin-top: 12px;
}
.bio {
    color: #000;
}

.profile-website {
    color: #1DA1F2 !important;
    cursor: pointer;
}

.profile-website:hover {
    text-decoration: underline !important;
}


.chat-to-btn {
    margin-top: 16px;
    margin-bottom: 16px;
    width:100%;
}
/* END: Left column*/

/* Main column*/
.main-content {
}

.post-list {
    list-style: none;
    margin: 8px 4px 0;
    padding: 0;
}

/*.post-card {*/
/*    background-color: #fff;*/
/*    border-bottom: 1px solid #e6ecf0;*/
/*    min-height: 52px;*/
/*    padding: 12px 12px;*/
/*}*/

.post-content {
    margin-left: 58px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
.post-picture {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    float: left;
    margin-top: 3px;
    margin-left: -58px;
}

.post-footer-btn {
    margin-right: 30px;
}
.post-footer-btn i, .post-footer-btn span {
    color: #657786;
    font-size: 16px;
}
.post-footer-btn span {
    margin-left: 8px;
}
/* END Main column*/

/* Right column*/
.pic-col {
    margin: 2px;
    padding: 2px;
}

.right-col {
    padding-left: 0;
}
.content-panel {
    margin: 10px 0 0;
    background-color: #fff;
    line-height: 16px;
    padding: 15px;
}

.content-panel h4 {
    display: inline-block;
}

.content-panel small {
    font-size: 66%;
    margin-left: 6px;
}

.content-panel li {
    min-height: 70px;
}

.btn-follow {
    border-color: #1DA1F2;
    color: #1DA1F2;
    background-color: white;
    border: 1px solid #1da1f2;
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    min-width: 89px;
}

.btn-follow:hover {
    background-color: #E8F5FD;
}

.main {
    background-color: #e1e2e3;
}

.post-content {
    color: black;
}

.panel-header {
    color: black;
}

/*Modal CSS*/
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Inter", sans-serif;*/
/*}*/

/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    color: #222;*/
/*    position: relative;*/
/*    min-height: 100vh;*/
/*    background-color: #b3e6f4;*/
/*}*/

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}
