.searchCards {
    color: #00CACE;
    border: solid #ab2fbf .1rem;
    box-shadow: 0 0 0.5em rgba(171, 171, 171, 1.5);
    background: rgba(159, 160, 160, 0.18);
    height: 17rem;
}

.userAvatar {
    margin-top: .3rem;
    width: 6rem;
    position: relative;
    top: 5.0rem;
    border: solid #ab2fbf .1rem ;
}

.searchUsersUsername {
    position: relative;
    top: 5.5rem;
}

.userBackdrop {
    height: 65%
}

.addUserBtn {
    color: whitesmoke;
    background-color: #00CACE;
    border: solid #ab2fbf .1rem;
    margin-top: .5rem;
    height: 2.5em;
}

.removeUserBtn{
    color: whitesmoke;
    background-color: #ce0037;
    border: solid #ab2fbf .1rem;
    margin-top: .5rem;
    height: 2.5em;
}

.searchUsers {
    color: whitesmoke;
    background-color: #00CACE;
}

.searchUsersLabel {
    color: #00CACE;
}

.card-body{
    padding: 0;
    margin-bottom: 4rem;
}

#userListContainer {
    margin-top: 2rem;
}

#searchUserInput {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

#searchUserSubmitBtn {
    margin-top: 1rem;
    border: solid #ab2fbf .1rem;
}