.searchGamesInput {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

#searchGamesBtn {
    border: solid #ab2fbf .1rem;
    background-color: #00CACE;
}
#searchGamesBtn:hover{
    border: solid #ab2fbf .2rem;
}

#gameListContainer {
    margin-top: 2rem;
}

.gameInfo {
    background-color: rgba(171, 47, 191, 0.48);
    border: solid #ab2fbf .1rem;
    border-top: none;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: none;
    height: 8em;
}
.gameInfoText{
    padding-top: 0.5rem;

}

.gameCardBackground {
    background-size: cover;
    background-position: center;
    border-radius: 10% 10% 0 0;
    border-bottom: none;
}

.storeLink {
    background-color: #00CACE;
    border: solid #ab2fbf .1rem;
    margin-top: 0;
}

.addGameBtn {
    color: whitesmoke;
    background-color: #00CACE;
    border: solid #ab2fbf .1rem;
    height: 1.8rem;
    margin-top: 0;
}

.addGameBtn:hover {
    border: solid #ab2fbf .2rem;
}

.notFavoriteStar:hover {
   color: gold;
}

.storeLink:hover {
    border: solid #ab2fbf .2rem;

}

.removeGameBtn {
    color: whitesmoke;
    background-color: #ce0037;
    border: solid #ab2fbf .1rem;
    height: 1.8rem;
    margin-top: 0;
}
.removeGameBtn:hover {
    border: solid #ab2fbf .2rem;
}
.favoriteStar{
    color: gold;
}
